.DS_Store
.editorconfig
.gitignore
.ruby-version

## jekyll stuff
# Compiled site
_site
.sass-cache/
.jekyll-metadata
.jekyll
Gemfile
Gemfile.lock
# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/
