---
title: DeepLearning
layout: page
gnav: 2
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
	{% if cat == "deeplearning" %}
		<ul class="posts-list">
			{% for post in site.categories[cat] %}
				{% for sc in post.subcats %}
					<h2 id="{{sc}}">{{ post.subcats | capitalize }}</h2>
					<li>
						<strong>
							<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</strong>
						<span class="post-date">- {{ post.date | date_to_long_string }}</span>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
		
		{% if forloop.last == false %}<hr>{% endif %}
	{% endif %}
	
{% endfor %}

<br>