---
title: Members
layout: page
gnav: 10
subtitle: We are Cracker!
---

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	<h2>{{ member.role }}</h2>
	
	</br>
	
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	
	</br>
	</br>
	
	{% if member.github %} 
	<i class="fa fa-github"></i>
	<span class="social-share-github"><a href="https://github.com/{{ member.github }}" title="Github">Github</a></span>
	&nbsp; &nbsp; 
	{% endif %}
	
	{% if member.linkedin %} 
	<i class="fa fa-linkedin"></i>
	<span class="social-share-linkedin"><a href="https://github.com/{{ member.github }}" title="Linkedin">Linkedin</a></span> 
	&nbsp; &nbsp;
	{% endif %}
	
	<hr>

{% endif %}{% endfor %}