<style>
    #sidebar {
        width: 450px;
        padding: 20px;
        margin-bottom: 20px;
        border: 2px solid #bcbcbc;
        border-bottom-style: None;
        border-left-style: None;
        border-top-style: None;
           
    }
    .sidebar-fixed {
        position: fixed;
		 top: 10px;
	}

</style>

<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
      $( document ).ready( function() {
        var jbOffset = $( '#sidebar' ).offset();
        $( window ).scroll( function() {
          if ( $( document ).scrollTop() > jbOffset.top ) {
            $( '#sidebar' ).addClass( 'sidebar-fixed' );
          }
          else {
            $( '#sidebar' ).removeClass( 'sidebar-fixed' );
          }
        });
      } );
</script>

<div id="sidebar">
 <div id="toc">
    <h1 class="toc_title">목차</h1>
    <ul>
        <li><a href="#설치">1. 설치</a></li>
        <li><a href="#계정-주소-페이지">2. 계정 주소 페이지</a></li>
        <li><a href="#프로젝트-주소-페이지">3. 프로젝트 주소 페이지</a>
            <ul>
                <li><a href="#상대주소-지정">3.1. 상대주소 지정</a></li>
            </ul></li>
        <li><a href="#필수-엔진-설치">4. 필수 엔진 설치</a>
            <ul>
                <li><a href="#마크다운-프로세싱-엔진-설치">4.1. 마크다운 프로세싱 엔진 설치</a></li>
             <li><a href="#pygments">4.2. Pygments</a></li>
            </ul></li>
        <li><a href="#지킬-기본-디렉토리-구조">5. 지킬 기본 디렉토리 구조</a>
            <ul>
                <li><a href="#_configyml">5.1. _config.yml</a></li>
                <li><a href="#_includes">5.2. _includes</a></li>
                <li><a href="#_layouts">5.3. _layouts</a></li>
                <li><a href="#_posts">5.4. _posts</a></li>
                <li><a href="#_site">5.5. _site</a></li>
            </ul></li>
        <li><a href="#블로그-포스트-추가">6. 블로그 포스트 추가</a>
            <ul>
                <li><a href="#front-matter">6.1. Front-matter</a></li>
                <li><a href="#마크다운으로-포스트-작성하기">6.2. 마크다운으로 포스트 작성하기</a></li>
            </ul></li>
        <li><a href="#기타-참고-사항">7. 기타 참고 사항</a>
            <ul>
                <li><a href="#Share_this:">7.1. Share this:</a></li>
            </ul></li>
    </ul>
 </div>
</div>