---
layout: default
---

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" 
{% if page.title == 'About Team' %}style="background-image: url({{ '/assets/name.png' | prepend: site.baseurl }});"
{% else if page.title == 'Members' %}style="background-image: url({{ '/assets/memberimg.png' | prepend: site.baseurl }});"
{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="info"><strong>{{ page.subtitle }}</strong></p>
    </header>
  </div>
</div>


<div class="wrapper">
  <div class="page">
  <!-- Main Content -->
    <div class="container">
	    <div class="row">
			    {{ content }}
	    </div>
    </div>
  </div>
</div>

